# SQL Data Analysis

This notebook demonstrates **SQL for data analysis**, using three real-world datasets related to the city of Chicago:

- **CENSUS_DATA**: Demographic and economic data
- **CHICAGO_PUBLIC_SCHOOLS**: School performance metrics
- **CHICAGO_CRIME_DATA**: Crime incidents across neighborhoods

The analysis includes:
- Data exploration using SQL queries
- Insightful aggregations and joins
- Data-driven conclusions
- Visualizations for improved storytelling

## Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to get insights from the datasets

Execute the below code cell to install the required libraries

In [18]:
#!pip install pandas
#!pip install ipython-sql prettytable 

import prettytable

prettytable.DEFAULT = 'DEFAULT'

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [24]:
import pandas
import csv, sqlite3
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

Load the SQL magic module

In [26]:
%load_ext sql

Use `Pandas` to load the data to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [28]:
df1 = pandas.read_csv('ChicagoCensusData.csv')
df1.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df2 = pandas.read_csv('ChicagoPublicSchools.csv')
df2.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False,method="multi")

df3 = pandas.read_csv('ChicagoCrimeData.csv')
df3.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False,method="multi")

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [31]:
%sql sqlite:///FinalDB.db

Now, the datasets can be explored.

### ðŸ“Š Analysis of Census Data

To view the table, we print first five rows of the `CENSUS_DATA` using **LIMIT** function.

In [39]:
#CENSUS_DATA
%sql SELECT * FROM CENSUS_DATA LIMIT 5

 * sqlite:///FinalDB.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]


##### We list community area names and numbers with per capita income less than 11000.

In [59]:
%sql SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER from CENSUS_DATA  WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]


##### Five community areas with highest % of households below poverty line

In [85]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA order BY PERCENT_HOUSEHOLDS_BELOW_POVERTY desc LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]


##### Using sub-query to find the name of the community area with highest hardship index

In [73]:
%sql  SELECT  "COMMUNITY_AREA_NAME" FROM  CENSUS_DATA WHERE  "HARDSHIP_INDEX" = ( SELECT  MAX("HARDSHIP_INDEX") FROM  CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]


##### Using sub-query to determine the Community Area Name with most number of crimes?

In [76]:
%sql SELECT  "COMMUNITY_AREA_NAME" FROM  CENSUS_DATA WHERE  "COMMUNITY_AREA_NUMBER" = (SELECT "Community_Area_Number" FROM CHICAGO_CRIME_DATA GROUP BY "Community_Area_Number" ORDER BY  COUNT(*) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

### ðŸŽ“ Analysis of Public School Data

To view the table, we print first five rows of the `CHICAGO_PUBLIC_SCHOOLS` using **LIMIT** function.

In [122]:
#CHICAGO_PUBLIC_SCHOOLS
%sql SELECT * FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 2

 * sqlite:///FinalDB.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)')]


##### The List of the types of schools along with the average safety score for each type.

In [63]:
%sql SELECT `Elementary, Middle, or High School` AS School_Type,\
AVG("Safety_Score") AS Average_Safety_Score FROM CHICAGO_PUBLIC_SCHOOLS\
GROUP BY `Elementary, Middle, or High School`;

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

##### Distribution of Safety Scores for 10 highest schools

In [118]:
%sql SELECT Name_of_School, Safety_Score FROM CHICAGO_PUBLIC_SCHOOLS WHERE Safety_Score IS NOT NULL Limit 10;

 * sqlite:///FinalDB.db
Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 54.0),
 ('Adlai E Stevenson Elementary School', 61.0),
 ('Agustin Lara Elementary Academy', 56.0),
 ('Air Force Academy High School', 49.0),
 ('Albany Park Multicultural Academy', 66.0),
 ('Albert G Lane Technical High School', 88.0),
 ('Albert R Sabin Elementary Magnet School', 67.0),
 ('Alcott High School for the Humanities', 70.0),
 ('Alessandro Volta Elementary School', 43.0)]

##### Average College Enrollment by Community Area

In [136]:
%sql SELECT Community_Area_Name, AVG(College_Enrollment) AS Avg_Enrollment FROM CHICAGO_PUBLIC_SCHOOLS WHERE College_Enrollment IS NOT NULL GROUP BY Community_Area_Name ORDER BY Avg_Enrollment DESC;

 * sqlite:///FinalDB.db
Done.

[('ARCHER HEIGHTS', 2411.5),
 ('MONTCLARE', 1317.0),
 ('WEST ELSDON', 1233.3333333333333),
 ('BRIGHTON PARK', 1205.875),
 ('BELMONT CRAGIN', 1198.8333333333333),
 ('NORTH CENTER', 1077.2857142857142),
 ('EAST SIDE', 1061.0),
 ('WEST LAWN', 1051.75),
 ('CHICAGO LAWN', 1012.2857142857143),
 ('HERMOSA', 993.75),
 ('PORTAGE PARK', 993.4285714285714),
 ('GAGE PARK', 991.5),
 ('WEST RIDGE', 910.7777777777778),
 ('GARFIELD RIDGE', 910.4),
 ('AVONDALE', 910.0),
 ('JEFFERSON PARK', 877.5),
 ('LOOP', 871.0),
 ('IRVING PARK', 862.6666666666666),
 ('ALBANY PARK', 858.0),
 ('NORTH PARK', 842.0),
 ('LINCOLN SQUARE', 826.4),
 ('ASHBURN', 810.375),
 ('NORWOOD PARK', 808.625),
 ('LINCOLN PARK', 802.1428571428571),
 ('OHARE', 786.0),
 ('EDGEWATER', 766.6666666666666),
 ('DUNNING', 761.3333333333334),
 ('ROGERS PARK', 678.0),
 ('SOUTH LAWNDALE', 672.4090909090909),
 ('LOGAN SQUARE', 668.2727272727273),
 ('HUMBOLDT PARK', 663.0769230769231),
 ('LOWER WEST SIDE', 659.7272727272727),
 ('MORGAN PARK', 654.2),
 ('LAKE VIEW', 641.3636363636364),
 ('BRIDGEPORT', 633.4),
 ('UPTOWN', 626.8571428571429),
 ('KENWOOD', 612.4285714285714),
 ('NEW CITY', 609.3846153846154),
 ('SOUTH CHICAGO', 577.5714285714286),
 ('CHATHAM', 560.2222222222222),
 ('BURNSIDE', 549.0),
 ('ROSELAND', 540.0),
 ('WASHINGTON PARK', 529.6),
 ('WOODLAWN', 525.75),
 ('MOUNT GREENWOOD', 522.75),
 ('CLEARING', 521.25),
 ('AVALON PARK', 507.3333333333333),
 ('SOUTH SHORE', 504.77777777777777),
 ('NEAR WEST SIDE', 498.4375),
 ('ARMOUR SQUARE', 486.0),
 ('HYDE PARK', 482.5),
 ('HEGEWISCH', 481.5),
 ('NEAR NORTH SIDE', 480.2857142857143),
 ('FOREST GLEN', 477.0),
 ('AUSTIN', 475.3478260869565),
 ('WEST TOWN', 471.45),
 ('SOUTH DEERING', 464.75),
 ('NEAR SOUTH SIDE', 459.3333333333333),
 ('WEST ENGLEWOOD', 457.38461538461536),
 ('EDISON PARK', 455.0),
 ('WASHINGTON HEIGHTS', 445.1111111111111),
 ('DOUGLAS', 424.54545454545456),
 ('AUBURN GRESHAM', 417.5),
 ('EAST GARFIELD PARK', 410.53846153846155),
 ('BEVERLY', 409.0),
 ('GREATER GRAND CROSSING', 405.1),
 ('ENGLEWOOD', 401.88235294117646),
 ('MCKINLEY PARK', 388.0),
 ('RIVERDALE', 386.75),
 ('GRAND BOULEVARD', 351.125),
 ('WEST GARFIELD PARK', 327.75),
 ('WEST PULLMAN', 324.0),
 ('PULLMAN', 324.0),
 ('NORTH LAWNDALE', 321.625),
 ('FULLER PARK', 265.5),
 ('CALUMET HEIGHTS', 261.3333333333333),
 ('OAKLAND', 140.0)]

### ðŸš¨ Analysis of Crime Data

To view the table, we print first five rows of the `CHICAGO_CRIME_DATA` using **LIMIT** function.

In [37]:
#CHICAGO_CRIME_DATA
%sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 5

 * sqlite:///FinalDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '2010-12-30', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, 41.74366532, -87.56246276, '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '2016-02-02', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, 15.0, 66.0, '6', 1155240.0, 1860661.0, 2016, 41.7734553, -87.70648047, '(41.773455295, -87.706480471)')]


Now we write and execute SQL queries to explore `CHICAGO_CRIME_DATA`.


##### We find the total number of crimes recorded in the CRIME table.

In [22]:
%sql SELECT COUNT(CASE_NUMBER) as Total_Crimes FROM CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]


##### We list all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [46]:
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]


##### We List all kidnapping crimes involving a child

In [53]:
%sql SELECT * FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]


##### We List the kind of crimes that were recorded at schools. To avoid repetitions we use distinct function.

In [64]:
%sql SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]


##### Which community area is most crime prone? We display the coumminty area number.

In [82]:
%sql SELECT "Community_Area_Number" FROM CHICAGO_CRIME_DATA GROUP BY  "Community_Area_Number" ORDER BY  COUNT(*) DESC LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

This notebook demonstrates `SQL data analysis` on real-world datasets. By exploring `demographic`, `educational`, and `crime data` from the city of `Chicago`, I used `SQL` to extract meaningful insights and Python to visualize the results clearly.

From identifying performance patterns in public schools to examining safety scores and crime statistics, this project showcases how SQL can be used in a data-driven decision-making context.